---
---

@import "{{ site.theme }}";

aside a.button {
 display:block;
 width:138px;
 padding-left:64px;
 margin-bottom:20px;
 font-size:21px;
 color: #fff;
 text-align:center;
 background-color:#9ddcff;
 background: none
 /* background:transparent url(../images/github-button.png) 0 0 no-repeat */
}
